In [1]:
import csv
import json
import pandas as pd
from datetime import datetime
import numpy as np

mainfolder = "../data_2019_processed/"
outputFolders = ""

# All data correlation

In [2]:
dataframe = pd.read_csv(mainfolder+outputFolders+"allData_filtred.csv", delimiter=',', encoding="utf8")
#dataframe = pd.read_csv("dados2019/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4.csv", delimiter=',', encoding="utf8")

In [3]:
# Exibe info
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542339 entries, 0 to 542338
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            542339 non-null  object
 1   location            542339 non-null  object
 2   distanceHome        542339 non-null  int64
 3   showActuation       542339 non-null  bool
 4   timestamp           542339 non-null  object
 5   time_to_next_alarm  542339 non-null  float64
 6   sound               542339 non-null  int64
 7   proximity           542339 non-null  int64
 8   phone_lock          542339 non-null  object
 9   light               542339 non-null  int64
 10  day_of_week         542339 non-null  object
 11  class               542339 non-null  object
 12  timestamp2          542339 non-null  int64
 13  minutes_day         542339 non-null  int64
 14  sleep_time          542339 non-null  int64
 15  wakeup_time         542339 non-null  int64
 16  time_sleeping       542339 non-null  int64
dtypes: bool(1), float64(1), int64(9), object(6)
memory usage: 66.7+ MB
None

In [4]:
# convert data and show the new info
# activity
dataframe['activity'] = dataframe['activity'].replace(['Unknown'], '1')
dataframe['activity'] = dataframe['activity'].replace(['Still'], '2')
dataframe['activity'] = dataframe['activity'].replace(['Tilting'], '3')
dataframe['activity'] = dataframe['activity'].replace(['Exercise'], '4')
dataframe['activity'] = dataframe['activity'].replace(['In vehicle'], '5')
# class
dataframe['class'] = dataframe['class'].replace(['awake'], '0')
dataframe['class'] = dataframe['class'].replace(['asleep'], '1')
# day_of_week
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Tuesday'], '1')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Wednesday'], '2')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Thursday'], '3')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Friday'], '4')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Saturday'], '5')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Sunday'], '6')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Monday'], '7')
# phone_lock
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['not locked'], '0')
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['locked'], '1')
# location
dataframe['location'] = dataframe['location'].replace(['Other'], '1')
dataframe['location'] = dataframe['location'].replace(['University'], '2')
dataframe['location'] = dataframe['location'].replace(['House'], '3')

In [5]:
# timestamp
if 'timestamp2' in dataframe.columns:
    dataframe['timestamp_text'] = dataframe['timestamp']
    dataframe['timestamp'] = dataframe['timestamp2']
    del dataframe['timestamp2']
#dataframe['timestamp'] = dataframe['timestamp'].astype('datetime64[ns]')
#dataframe['timestamp'] = dataframe['timestamp'].astype('int64')
#dataframe['timestamp'] = datetime.strptime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S').timestamp() * 1000
#dataframe['timestamp'] = pd.to_datetime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S') * 1000
#dataframe['timestamp'] = dataframe['timestamp'].dt.second()
# activity
dataframe['activity'] = dataframe['activity'].astype(np.integer) 
dataframe['class'] = dataframe['class'].astype(np.integer) 
dataframe['day_of_week'] = dataframe['day_of_week'].astype(np.integer) 
dataframe['phone_lock'] = dataframe['phone_lock'].astype(np.integer) 
dataframe['location'] = dataframe['location'].astype(np.integer) 
# Exibe info
print(dataframe.info())# convert values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542339 entries, 0 to 542338
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            542339 non-null  int64
 1   location            542339 non-null  int64
 2   distanceHome        542339 non-null  int64
 3   showActuation       542339 non-null  bool
 4   timestamp           542339 non-null  int64
 5   time_to_next_alarm  542339 non-null  float64
 6   sound               542339 non-null  int64
 7   proximity           542339 non-null  int64
 8   phone_lock          542339 non-null  int64
 9   light               542339 non-null  int64
 10  day_of_week         542339 non-null  int64
 11  class               542339 non-null  int64
 12  minutes_day         542339 non-null  int64
 13  sleep_time          542339 non-null  int64
 14  wakeup_time         542339 non-null  int64
 15  time_sleeping       542339 non-null  int64
 16  timestamp_text      542339 non-null  object
dtypes: bool(1), float64(1), int64(14), object(1)
memory usage: 66.7+ MB
None

In [6]:
dataframe

,activity,location,distanceHome,showActuation,timestamp,time_to_next_alarm,sound,proximity,phone_lock,light,day_of_week,class,minutes_day,sleep_time,wakeup_time,time_sleeping,timestamp_text
0,1,1,0,False,1526390445,594000000.0,0,5,0,37,1,0,860,1020,660,64808,2018-05-15 14:20:45
1,1,1,0,False,1526390445,594000000.0,0,5,0,37,1,0,860,1020,660,64808,2018-05-15 14:20:45
2,2,2,0,False,1526390475,593940000.0,5517,5,0,35,1,0,861,1020,660,64808,2018-05-15 14:21:15
3,2,2,0,False,1526390505,593940000.0,5517,5,0,307,1,0,861,1020,660,64808,2018-05-15 14:21:45
4,2,2,0,False,1526390535,593880000.0,5809,5,0,42,1,0,862,1020,660,64808,2018-05-15 14:22:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542334,2,3,0,False,1528888477,59999.0,0,5,1,8,2,0,734,0,0,0,2018-06-13 12:14:37
542335,2,3,0,False,1528888688,420000.0,0,5,1,11,2,0,738,0,0,0,2018-06-13 12:18:08
542336,2,3,0,False,1528888748,359999.0,0,5,1,11,2,0,739,0,0,0,2018-06-13 12:19:08
542337,2,3,0,False,1528888778,359999.0,0,5,1,12,2,0,739,0,0,0,2018-06-13 12:19:38
542338,3,3,0,False,1528888808,299998.0,0,0,1,0,2,0,740,0,0,0,2018-06-13 12:20:08

In [7]:
 #'pearson', "   "'spearman', 'kendall'
a = dataframe['class'].corr(dataframe['activity'])
b = dataframe['class'].corr(dataframe['location'])
c = dataframe['class'].corr(dataframe['distanceHome'])
d = dataframe['class'].corr(dataframe['showActuation'])
e = dataframe['class'].corr(dataframe['timestamp'])
f = dataframe['class'].corr(dataframe['day_of_week'])
g = dataframe['class'].corr(dataframe['light'])
h = dataframe['class'].corr(dataframe['phone_lock'])
i = dataframe['class'].corr(dataframe['proximity'])
j = dataframe['class'].corr(dataframe['sound'])
l = dataframe['class'].corr(dataframe['time_to_next_alarm'])
m = dataframe['class'].corr(dataframe['sleep_time'])
n = dataframe['class'].corr(dataframe['wakeup_time'])
p = dataframe['class'].corr(dataframe['minutes_day'])
o = dataframe['class'].corr(dataframe['class'])
print("Correlations")
corrrrrrr = (("activity",a),
            ("location",b),
            ("distanceHome",c),
            ("showActuation",d),
            ("timestamp",e),
            ("day_of_week",f),
            ("light",g),
            ("phone_lock",h),
            ("proximity",i),
            ("sound",j),
            ("sleep_time",m),
            ("wakeup_time",n),
            ("time_to_next_alarm",l),
            ("minutes_day",p),
            ("class",o))
print (corrrrrrr)

Correlations
(('activity', -0.07703995032847538), ('location', 0.10958461370712806), ('distanceHome', nan), ('showActuation', nan), ('timestamp', -0.07277200160532613), ('day_of_week', -0.0002400622279237868), ('light', -0.015495143118493352), ('phone_lock', 0.13043388705432665), ('proximity', -0.08771039429702047), ('sound', -0.1904947786952832), ('sleep_time', 0.20779743402161172), ('wakeup_time', 0.04488107398425427), ('time_to_next_alarm', -0.1866132386519834), ('minutes_day', -0.15380897222591036), ('class', 0.9999999999999999))

In [8]:
type(corrrrrrr)

tuple

In [9]:
tests = pd.DataFrame(corrrrrrr,columns=("Feature","Correlation"))
tests.sort_values(by=['Correlation'])

               Feature  Correlation
9                sound    -0.190495
12  time_to_next_alarm    -0.186613
13         minutes_day    -0.153809
8            proximity    -0.087710
0             activity    -0.077040
4            timestamp    -0.072772
6                light    -0.015495
5          day_of_week    -0.000240
11         wakeup_time     0.044881
1             location     0.109585
7           phone_lock     0.130434
10          sleep_time     0.207797
14               class     1.000000
2         distanceHome          NaN
3        showActuation          NaN

# Only training correlation

In [10]:
outputFolders = "train/"

In [11]:
dataframe = pd.read_csv(mainfolder+outputFolders+"allData.csv", delimiter=',', encoding="utf8")
#dataframe = pd.read_csv("dados2019/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4.csv", delimiter=',', encoding="utf8")

In [12]:
# convert data and show the new info
# activity
dataframe['activity'] = dataframe['activity'].replace(['Unknown'], '1')
dataframe['activity'] = dataframe['activity'].replace(['Still'], '2')
dataframe['activity'] = dataframe['activity'].replace(['Tilting'], '3')
dataframe['activity'] = dataframe['activity'].replace(['Exercise'], '4')
dataframe['activity'] = dataframe['activity'].replace(['In vehicle'], '5')
# class
dataframe['class'] = dataframe['class'].replace(['awake'], '0')
dataframe['class'] = dataframe['class'].replace(['asleep'], '1')
# day_of_week
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Tuesday'], '1')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Wednesday'], '2')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Thursday'], '3')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Friday'], '4')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Saturday'], '5')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Sunday'], '6')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Monday'], '7')
# phone_lock
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['not locked'], '0')
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['locked'], '1')
# location
dataframe['location'] = dataframe['location'].replace(['Other'], '1')
dataframe['location'] = dataframe['location'].replace(['University'], '2')
dataframe['location'] = dataframe['location'].replace(['House'], '3')

In [13]:
# timestamp
if 'timestamp2' in dataframe.columns:
    dataframe['timestamp_text'] = dataframe['timestamp']
    dataframe['timestamp'] = dataframe['timestamp2']
    del dataframe['timestamp2']
#dataframe['timestamp'] = datetime.strptime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S').timestamp() * 1000
#dataframe['timestamp'] = pd.to_datetime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S') * 1000
#dataframe['timestamp'] = dataframe['timestamp'].dt.second()
# activity
dataframe['activity'] = dataframe['activity'].astype(np.integer) 
dataframe['class'] = dataframe['class'].astype(np.integer) 
dataframe['day_of_week'] = dataframe['day_of_week'].astype(np.integer) 
dataframe['phone_lock'] = dataframe['phone_lock'].astype(np.integer) 
dataframe['location'] = dataframe['location'].astype(np.integer) 
# Exibe info
print(dataframe.info())# convert values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407451 entries, 0 to 407450
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            407451 non-null  int64
 1   location            407451 non-null  int64
 2   distanceHome        407451 non-null  int64
 3   showActuation       407451 non-null  bool
 4   timestamp           407451 non-null  int64
 5   time_to_next_alarm  407451 non-null  float64
 6   sound               407451 non-null  int64
 7   proximity           407451 non-null  int64
 8   phone_lock          407451 non-null  int64
 9   light               407451 non-null  int64
 10  day_of_week         407451 non-null  int64
 11  class               407451 non-null  int64
 12  minutes_day         407451 non-null  int64
 13  sleep_time          407451 non-null  int64
 14  wakeup_time         407451 non-null  int64
 15  time_sleeping       407451 non-null  int64
 16  timestamp_text      407451 non-null  object
dtypes: bool(1), float64(1), int64(14), object(1)
memory usage: 50.1+ MB
None

In [14]:
 #'pearson', "   "'spearman', 'kendall'
a = dataframe['class'].corr(dataframe['activity'])
b = dataframe['class'].corr(dataframe['location'])
c = dataframe['class'].corr(dataframe['distanceHome'])
d = dataframe['class'].corr(dataframe['showActuation'])
e = dataframe['class'].corr(dataframe['timestamp'])
f = dataframe['class'].corr(dataframe['day_of_week'])
g = dataframe['class'].corr(dataframe['light'])
h = dataframe['class'].corr(dataframe['phone_lock'])
i = dataframe['class'].corr(dataframe['proximity'])
j = dataframe['class'].corr(dataframe['sound'])
l = dataframe['class'].corr(dataframe['time_to_next_alarm'])
m = dataframe['class'].corr(dataframe['sleep_time'])
n = dataframe['class'].corr(dataframe['wakeup_time'])
p = dataframe['class'].corr(dataframe['minutes_day'])
o = dataframe['class'].corr(dataframe['class'])
print("Correlations")
corrrrrrr = (("activity",a),
            ("location",b),
            ("distanceHome",c),
            ("showActuation",d),
            ("timestamp",e),
            ("day_of_week",f),
            ("light",g),
            ("phone_lock",h),
            ("proximity",i),
            ("sound",j),
            ("sleep_time",m),
            ("wakeup_time",n),
            ("time_to_next_alarm",l),
            ("minutes_day",p),
            ("class",o))
print (corrrrrrr)

Correlations
(('activity', -0.0732283254248401), ('location', 0.09835149328501772), ('distanceHome', nan), ('showActuation', nan), ('timestamp', -0.05931580879522162), ('day_of_week', 0.000855814465049001), ('light', -0.016360373310671684), ('phone_lock', 0.11942910495692612), ('proximity', -0.11761167091056232), ('sound', -0.1817271931148193), ('sleep_time', 0.2107641360704632), ('wakeup_time', 0.04370633933026194), ('time_to_next_alarm', -0.18812235664100502), ('minutes_day', -0.13413538163639266), ('class', 1.0))

In [15]:
tests = pd.DataFrame(corrrrrrr,columns=("Feature","Correlation"))
tests.sort_values(by=['Correlation'])

               Feature  Correlation
12  time_to_next_alarm    -0.188122
9                sound    -0.181727
13         minutes_day    -0.134135
8            proximity    -0.117612
0             activity    -0.073228
4            timestamp    -0.059316
6                light    -0.016360
5          day_of_week     0.000856
11         wakeup_time     0.043706
1             location     0.098351
7           phone_lock     0.119429
10          sleep_time     0.210764
14               class     1.000000
2         distanceHome          NaN
3        showActuation          NaN