In [14]:
import csv
import json
import pandas as pd
from datetime import datetime
import numpy as np

mainfolder = "../data_2019_processed/"
outputFolders = ""

# All data correlation

In [15]:
dataframe = pd.read_csv(mainfolder+outputFolders+"allData-classification-numeric-normalized_balanced_oversample_smote.csv", delimiter=',', encoding="utf8")
#dataframe = pd.read_csv("dados2019/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4.csv", delimiter=',', encoding="utf8")

In [16]:
# Exibe info
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886692 entries, 0 to 886691
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            886692 non-null  float64
 1   location            886692 non-null  float64
 2   timestamp           886692 non-null  float64
 3   time_to_next_alarm  886692 non-null  float64
 4   sound               886692 non-null  float64
 5   proximity           886692 non-null  float64
 6   phone_lock          886692 non-null  float64
 7   light               886692 non-null  float64
 8   day_of_week         886692 non-null  float64
 9   minutes_day         886692 non-null  float64
 10  timestamp_text      886692 non-null  object
 11  class               886692 non-null  object
dtypes: float64(10), object(2)
memory usage: 81.2+ MB
None

In [17]:
# convert data and show the new info
# activity
dataframe['activity'] = dataframe['activity'].replace(['Unknown'], '1')
dataframe['activity'] = dataframe['activity'].replace(['Still'], '2')
dataframe['activity'] = dataframe['activity'].replace(['Tilting'], '3')
dataframe['activity'] = dataframe['activity'].replace(['Exercise'], '4')
dataframe['activity'] = dataframe['activity'].replace(['In vehicle'], '5')
# class
dataframe['class'] = dataframe['class'].replace(['awake'], '0')
dataframe['class'] = dataframe['class'].replace(['asleep'], '1')
# day_of_week
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Tuesday'], '1')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Wednesday'], '2')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Thursday'], '3')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Friday'], '4')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Saturday'], '5')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Sunday'], '6')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Monday'], '7')
# phone_lock
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['not locked'], '0')
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['locked'], '1')
# location
dataframe['location'] = dataframe['location'].replace(['Other'], '1')
dataframe['location'] = dataframe['location'].replace(['University'], '2')
dataframe['location'] = dataframe['location'].replace(['House'], '3')

In [18]:
# timestamp
if 'timestamp2' in dataframe.columns:
    dataframe['timestamp_text'] = dataframe['timestamp']
    dataframe['timestamp'] = dataframe['timestamp2']
    del dataframe['timestamp2']
#dataframe['timestamp'] = datetime.strptime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S').timestamp() * 1000
#dataframe['timestamp'] = pd.to_datetime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S') * 1000
#dataframe['timestamp'] = dataframe['timestamp'].dt.second()
# activity
dataframe['activity'] = dataframe['activity'].astype(np.integer) 
dataframe['class'] = dataframe['class'].astype(np.integer) 
dataframe['day_of_week'] = dataframe['day_of_week'].astype(np.integer) 
dataframe['phone_lock'] = dataframe['phone_lock'].astype(np.integer) 
dataframe['location'] = dataframe['location'].astype(np.integer) 
# Exibe info
print(dataframe.info())# convert values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886692 entries, 0 to 886691
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            886692 non-null  int64
 1   location            886692 non-null  int64
 2   timestamp           886692 non-null  float64
 3   time_to_next_alarm  886692 non-null  float64
 4   sound               886692 non-null  float64
 5   proximity           886692 non-null  float64
 6   phone_lock          886692 non-null  int64
 7   light               886692 non-null  float64
 8   day_of_week         886692 non-null  int64
 9   minutes_day         886692 non-null  float64
 10  timestamp_text      886692 non-null  object
 11  class               886692 non-null  int64
dtypes: float64(6), int64(5), object(1)
memory usage: 81.2+ MB
None

In [19]:
dataframe

,activity,location,timestamp,time_to_next_alarm,sound,proximity,phone_lock,light,day_of_week,minutes_day,timestamp_text,class
0,0,0,0.000869,0.982143,0.000000,1.0,0,0.000175,0,0.597637,2018-05-15 14:20:45,0
1,0,0,0.000869,0.982143,0.000000,1.0,0,0.000175,0,0.597637,2018-05-15 14:20:45,0
2,0,0,0.000869,0.982044,0.604408,1.0,0,0.000165,0,0.598332,2018-05-15 14:21:15,0
3,0,0,0.000869,0.982044,0.604408,1.0,0,0.001449,0,0.598332,2018-05-15 14:21:45,0
4,0,0,0.000869,0.981944,0.601849,1.0,0,0.000198,0,0.599027,2018-05-15 14:22:15,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886687,0,1,0.003879,0.000000,0.695059,0.0,1,0.000000,0,0.492703,2018-05-29 11:49:13,1
886688,0,0,0.002552,0.007242,0.000000,1.0,1,0.000000,0,0.366227,2018-05-23 08:47:59,1
886689,0,1,0.003646,0.008829,0.000000,1.0,1,0.000000,1,0.417651,2018-05-28 10:01:47,1
886690,0,1,0.005062,0.935218,0.741692,1.0,1,0.000005,0,0.956915,2018-06-03 22:57:50,1
886691,0,0,0.005597,0.010714,0.832212,1.0,1,0.000000,0,0.425990,2018-06-06 10:13:40,1

In [20]:
 #'pearson', "   "'spearman', 'kendall'
a = dataframe['class'].corr(dataframe['activity'])
b = dataframe['class'].corr(dataframe['location'])
#c = dataframe['class'].corr(dataframe['distanceHome'])
#d = dataframe['class'].corr(dataframe['showActuation'])
e = dataframe['class'].corr(dataframe['timestamp'])
f = dataframe['class'].corr(dataframe['day_of_week'])
g = dataframe['class'].corr(dataframe['light'])
h = dataframe['class'].corr(dataframe['phone_lock'])
i = dataframe['class'].corr(dataframe['proximity'])
j = dataframe['class'].corr(dataframe['sound'])
l = dataframe['class'].corr(dataframe['time_to_next_alarm'])
#m = dataframe['class'].corr(dataframe['sleep_time'])
#n = dataframe['class'].corr(dataframe['wakeup_time'])
p = dataframe['class'].corr(dataframe['minutes_day'])
o = dataframe['class'].corr(dataframe['class'])
print("Correlations")
corrrrrrr = (("activity",a),
            ("location",b),
      #      ("distanceHome",c),
     #       ("showActuation",d),
            ("timestamp",e),
            ("day_of_week",f),
            ("light",g),
            ("phone_lock",h),
            ("proximity",i),
            ("sound",j),
#            ("sleep_time",m),
#            ("wakeup_time",n),
            ("time_to_next_alarm",l),
            ("minutes_day",p),
            ("class",o))
print (corrrrrrr)

Correlations
(('activity', -0.07169532191292044), ('location', 0.19516849588430413), ('timestamp', -0.09527715392399928), ('day_of_week', 0.019657574901935967), ('light', -0.02120812958096847), ('phone_lock', 0.17847158314542394), ('proximity', -0.07416718480947906), ('sound', 0.18417837407143395), ('time_to_next_alarm', -0.24963706100426672), ('minutes_day', -0.21599593354214644), ('class', 1.0))

In [21]:
type(corrrrrrr)

tuple

In [22]:
tests = pd.DataFrame(corrrrrrr,columns=("Feature","Correlation"))
tests.sort_values(by=['Correlation'])

               Feature  Correlation
8   time_to_next_alarm    -0.249637
9          minutes_day    -0.215996
2            timestamp    -0.095277
6            proximity    -0.074167
0             activity    -0.071695
4                light    -0.021208
3          day_of_week     0.019658
5           phone_lock     0.178472
7                sound     0.184178
1             location     0.195168
10               class     1.000000

# Only training correlation

In [23]:
outputFolders = "train/"

In [24]:
dataframe = pd.read_csv(mainfolder+outputFolders+"allData-classification-numeric-normalized_balanced_oversample_smote.csv", delimiter=',', encoding="utf8")
#dataframe = pd.read_csv("dados2019/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4.csv", delimiter=',', encoding="utf8")

In [25]:
# convert data and show the new info
# activity
dataframe['activity'] = dataframe['activity'].replace(['Unknown'], '1')
dataframe['activity'] = dataframe['activity'].replace(['Still'], '2')
dataframe['activity'] = dataframe['activity'].replace(['Tilting'], '3')
dataframe['activity'] = dataframe['activity'].replace(['Exercise'], '4')
dataframe['activity'] = dataframe['activity'].replace(['In vehicle'], '5')
# class
dataframe['class'] = dataframe['class'].replace(['awake'], '0')
dataframe['class'] = dataframe['class'].replace(['asleep'], '1')
# day_of_week
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Tuesday'], '1')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Wednesday'], '2')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Thursday'], '3')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Friday'], '4')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Saturday'], '5')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Sunday'], '6')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Monday'], '7')
# phone_lock
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['not locked'], '0')
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['locked'], '1')
# location
dataframe['location'] = dataframe['location'].replace(['Other'], '1')
dataframe['location'] = dataframe['location'].replace(['University'], '2')
dataframe['location'] = dataframe['location'].replace(['House'], '3')

In [26]:
# timestamp
if 'timestamp2' in dataframe.columns:
    dataframe['timestamp_text'] = dataframe['timestamp']
    dataframe['timestamp'] = dataframe['timestamp2']
    del dataframe['timestamp2']
#dataframe['timestamp'] = datetime.strptime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S').timestamp() * 1000
#dataframe['timestamp'] = pd.to_datetime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S') * 1000
#dataframe['timestamp'] = dataframe['timestamp'].dt.second()
# activity
dataframe['activity'] = dataframe['activity'].astype(np.integer) 
dataframe['class'] = dataframe['class'].astype(np.integer) 
dataframe['day_of_week'] = dataframe['day_of_week'].astype(np.integer) 
dataframe['phone_lock'] = dataframe['phone_lock'].astype(np.integer) 
dataframe['location'] = dataframe['location'].astype(np.integer) 
# Exibe info
print(dataframe.info())# convert values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667186 entries, 0 to 667185
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            667186 non-null  int64
 1   location            667186 non-null  int64
 2   time_to_next_alarm  667186 non-null  float64
 3   sound               667186 non-null  float64
 4   proximity           667186 non-null  float64
 5   phone_lock          667186 non-null  int64
 6   light               667186 non-null  float64
 7   day_of_week         667186 non-null  int64
 8   minutes_day         667186 non-null  float64
 9   class               667186 non-null  int64
dtypes: float64(5), int64(5)
memory usage: 50.9 MB
None

In [29]:
 #'pearson', "   "'spearman', 'kendall'
a = dataframe['class'].corr(dataframe['activity'])
b = dataframe['class'].corr(dataframe['location'])
#c = dataframe['class'].corr(dataframe['distanceHome'])
#d = dataframe['class'].corr(dataframe['showActuation'])
#e = dataframe['class'].corr(dataframe['timestamp'])
f = dataframe['class'].corr(dataframe['day_of_week'])
g = dataframe['class'].corr(dataframe['light'])
h = dataframe['class'].corr(dataframe['phone_lock'])
i = dataframe['class'].corr(dataframe['proximity'])
j = dataframe['class'].corr(dataframe['sound'])
l = dataframe['class'].corr(dataframe['time_to_next_alarm'])
#m = dataframe['class'].corr(dataframe['sleep_time'])
#n = dataframe['class'].corr(dataframe['wakeup_time'])
p = dataframe['class'].corr(dataframe['minutes_day'])
o = dataframe['class'].corr(dataframe['class'])
print("Correlations")
corrrrrrr = (("activity",a),
            ("location",b),
           # ("distanceHome",c),
           # ("showActuation",d),
           # ("timestamp",e),
            ("day_of_week",f),
            ("light",g),
            ("phone_lock",h),
            ("proximity",i),
            ("sound",j),
#            ("sleep_time",m),
#            ("wakeup_time",n),
            ("time_to_next_alarm",l),
            ("minutes_day",p),
            ("class",o))
print (corrrrrrr)

Correlations
(('activity', -0.06742886439537665), ('location', 0.17234794020243407), ('day_of_week', 0.040333515850798474), ('light', -0.02542200618616238), ('phone_lock', 0.16409794814420445), ('proximity', -0.11902091467130403), ('sound', 0.20402731512328467), ('time_to_next_alarm', -0.2525687381504577), ('minutes_day', -0.18587537618950156), ('class', 1.0))

In [30]:
tests = pd.DataFrame(corrrrrrr,columns=("Feature","Correlation"))
tests.sort_values(by=['Correlation'])

              Feature  Correlation
7  time_to_next_alarm    -0.252569
8         minutes_day    -0.185875
5           proximity    -0.119021
0            activity    -0.067429
3               light    -0.025422
2         day_of_week     0.040334
4          phone_lock     0.164098
1            location     0.172348
6               sound     0.204027
9               class     1.000000