In [1]:
import csv
import json
import pandas as pd
from datetime import datetime
import numpy as np

mainfolder = "../data_2019_processed/"
outputFolders = ""

# All data correlation

In [2]:
dataframe = pd.read_csv(mainfolder+outputFolders+"allData-classification-numeric-normalized_balanced_oversample.csv", delimiter=',', encoding="utf8")
#dataframe = pd.read_csv("dados2019/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4.csv", delimiter=',', encoding="utf8")

In [3]:
# Exibe info
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769934 entries, 0 to 769933
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            769934 non-null  float64
 1   location            769934 non-null  float64
 2   timestamp           769934 non-null  float64
 3   day_of_week         769934 non-null  float64
 4   light               769934 non-null  float64
 5   phone_lock          769934 non-null  float64
 6   proximity           769934 non-null  float64
 7   sound               769934 non-null  float64
 8   time_to_next_alarm  769934 non-null  float64
 9   minutes_day         769934 non-null  float64
 10  timestamp_text      769934 non-null  object
 11  class               769934 non-null  object
dtypes: float64(10), object(2)
memory usage: 70.5+ MB
None

In [4]:
# convert data and show the new info
# activity
dataframe['activity'] = dataframe['activity'].replace(['Unknown'], '1')
dataframe['activity'] = dataframe['activity'].replace(['Still'], '2')
dataframe['activity'] = dataframe['activity'].replace(['Tilting'], '3')
dataframe['activity'] = dataframe['activity'].replace(['Exercise'], '4')
dataframe['activity'] = dataframe['activity'].replace(['In vehicle'], '5')
# class
dataframe['class'] = dataframe['class'].replace(['awake'], '0')
dataframe['class'] = dataframe['class'].replace(['asleep'], '1')
# day_of_week
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Tuesday'], '1')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Wednesday'], '2')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Thursday'], '3')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Friday'], '4')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Saturday'], '5')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Sunday'], '6')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Monday'], '7')
# phone_lock
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['not locked'], '0')
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['locked'], '1')
# location
dataframe['location'] = dataframe['location'].replace(['Other'], '1')
dataframe['location'] = dataframe['location'].replace(['University'], '2')
dataframe['location'] = dataframe['location'].replace(['House'], '3')

In [5]:
# timestamp
if 'timestamp2' in dataframe.columns:
    dataframe['timestamp_text'] = dataframe['timestamp']
    dataframe['timestamp'] = dataframe['timestamp2']
    del dataframe['timestamp2']
#dataframe['timestamp'] = datetime.strptime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S').timestamp() * 1000
#dataframe['timestamp'] = pd.to_datetime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S') * 1000
#dataframe['timestamp'] = dataframe['timestamp'].dt.second()
# activity
dataframe['activity'] = dataframe['activity'].astype(np.integer) 
dataframe['class'] = dataframe['class'].astype(np.integer) 
dataframe['day_of_week'] = dataframe['day_of_week'].astype(np.integer) 
dataframe['phone_lock'] = dataframe['phone_lock'].astype(np.integer) 
dataframe['location'] = dataframe['location'].astype(np.integer) 
# Exibe info
print(dataframe.info())# convert values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769934 entries, 0 to 769933
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            769934 non-null  int64
 1   location            769934 non-null  int64
 2   timestamp           769934 non-null  float64
 3   day_of_week         769934 non-null  int64
 4   light               769934 non-null  float64
 5   phone_lock          769934 non-null  int64
 6   proximity           769934 non-null  float64
 7   sound               769934 non-null  float64
 8   time_to_next_alarm  769934 non-null  float64
 9   minutes_day         769934 non-null  float64
 10  timestamp_text      769934 non-null  object
 11  class               769934 non-null  int64
dtypes: float64(6), int64(5), object(1)
memory usage: 70.5+ MB
None

In [6]:
dataframe

,activity,location,timestamp,day_of_week,light,phone_lock,proximity,sound,time_to_next_alarm,minutes_day,timestamp_text,class
0,0,0,0.210603,0,0.000175,0,1.0,0.000000,0.982143,0.597637,2018-05-15 14:20:45,0
1,0,0,0.210603,0,0.000175,0,1.0,0.000000,0.982143,0.597637,2018-05-15 14:20:45,0
2,0,0,0.210603,0,0.000165,0,1.0,0.604408,0.982044,0.598332,2018-05-15 14:21:15,0
3,0,0,0.210603,0,0.001449,0,1.0,0.604408,0.982044,0.598332,2018-05-15 14:21:45,0
4,0,0,0.210603,0,0.000198,0,1.0,0.601849,0.981944,0.599027,2018-05-15 14:22:15,0
...,...,...,...,...,...,...,...,...,...,...,...,...
769929,0,0,0.212335,0,0.000000,0,1.0,0.525275,0.957044,0.717860,2018-05-25 17:13:42,1
769930,0,1,0.212939,0,0.000000,1,0.0,0.812089,0.032242,0.243224,2018-05-29 05:50:52,1
769931,0,1,0.211590,1,0.000000,1,1.0,0.830470,0.019940,0.363447,2018-05-21 08:43:36,1
769932,0,1,0.210570,0,0.000005,1,0.0,0.779189,0.001587,0.405837,2018-05-15 09:44:33,1
769933,0,0,0.215301,1,0.000000,1,0.0,0.517779,0.000000,0.048645,2018-06-12 01:10:07,1

In [7]:
 #'pearson', "   "'spearman', 'kendall'
a = dataframe['class'].corr(dataframe['activity'])
b = dataframe['class'].corr(dataframe['location'])
#c = dataframe['class'].corr(dataframe['distanceHome'])
#d = dataframe['class'].corr(dataframe['showActuation'])
e = dataframe['class'].corr(dataframe['timestamp'])
f = dataframe['class'].corr(dataframe['day_of_week'])
g = dataframe['class'].corr(dataframe['light'])
h = dataframe['class'].corr(dataframe['phone_lock'])
i = dataframe['class'].corr(dataframe['proximity'])
j = dataframe['class'].corr(dataframe['sound'])
l = dataframe['class'].corr(dataframe['time_to_next_alarm'])
#m = dataframe['class'].corr(dataframe['sleep_time'])
#n = dataframe['class'].corr(dataframe['wakeup_time'])
p = dataframe['class'].corr(dataframe['minutes_day'])
o = dataframe['class'].corr(dataframe['class'])
print("Correlations")
corrrrrrr = (("activity",a),
            ("location",b),
      #      ("distanceHome",c),
     #       ("showActuation",d),
            ("timestamp",e),
            ("day_of_week",f),
            ("light",g),
            ("phone_lock",h),
            ("proximity",i),
            ("sound",j),
#            ("sleep_time",m),
#            ("wakeup_time",n),
            ("time_to_next_alarm",l),
            ("minutes_day",p),
            ("class",o))
print (corrrrrrr)

Correlations
(('activity', -0.050737320340741264), ('location', 0.16266600135848655), ('timestamp', -0.18026965609649867), ('day_of_week', 0.019125997540252713), ('light', -0.000873851099237035), ('phone_lock', 0.09916516465629197), ('proximity', -0.017850798615006977), ('sound', 0.13206790951204617), ('time_to_next_alarm', -0.14785548278356414), ('minutes_day', -0.1506389952378182), ('class', 1.0))

In [8]:
type(corrrrrrr)

tuple

In [9]:
tests = pd.DataFrame(corrrrrrr,columns=("Feature","Correlation"))
tests.sort_values(by=['Correlation'])

               Feature  Correlation
2            timestamp    -0.180270
9          minutes_day    -0.150639
8   time_to_next_alarm    -0.147855
0             activity    -0.050737
6            proximity    -0.017851
4                light    -0.000874
3          day_of_week     0.019126
5           phone_lock     0.099165
7                sound     0.132068
1             location     0.162666
10               class     1.000000

# Only training correlation

In [10]:
outputFolders = "train/"

In [11]:
dataframe = pd.read_csv(mainfolder+outputFolders+"allData-classification-numeric-normalized_balanced_oversample.csv", delimiter=',', encoding="utf8")
#dataframe = pd.read_csv("dados2019/student_a9Qgj8ENWrHvl9QqlXcIPKmyGMKgbfHk9Dbqon1HQP4.csv", delimiter=',', encoding="utf8")

In [12]:
# convert data and show the new info
# activity
dataframe['activity'] = dataframe['activity'].replace(['Unknown'], '1')
dataframe['activity'] = dataframe['activity'].replace(['Still'], '2')
dataframe['activity'] = dataframe['activity'].replace(['Tilting'], '3')
dataframe['activity'] = dataframe['activity'].replace(['Exercise'], '4')
dataframe['activity'] = dataframe['activity'].replace(['In vehicle'], '5')
# class
dataframe['class'] = dataframe['class'].replace(['awake'], '0')
dataframe['class'] = dataframe['class'].replace(['asleep'], '1')
# day_of_week
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Tuesday'], '1')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Wednesday'], '2')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Thursday'], '3')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Friday'], '4')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Saturday'], '5')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Sunday'], '6')
dataframe['day_of_week'] = dataframe['day_of_week'].replace(['Monday'], '7')
# phone_lock
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['not locked'], '0')
dataframe['phone_lock'] = dataframe['phone_lock'].replace(['locked'], '1')
# location
dataframe['location'] = dataframe['location'].replace(['Other'], '1')
dataframe['location'] = dataframe['location'].replace(['University'], '2')
dataframe['location'] = dataframe['location'].replace(['House'], '3')

In [13]:
# timestamp
if 'timestamp2' in dataframe.columns:
    dataframe['timestamp_text'] = dataframe['timestamp']
    dataframe['timestamp'] = dataframe['timestamp2']
    del dataframe['timestamp2']
#dataframe['timestamp'] = datetime.strptime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S').timestamp() * 1000
#dataframe['timestamp'] = pd.to_datetime(dataframe['timestamp'],'%Y-%m-%d %H:%M:%S') * 1000
#dataframe['timestamp'] = dataframe['timestamp'].dt.second()
# activity
dataframe['activity'] = dataframe['activity'].astype(np.integer) 
dataframe['class'] = dataframe['class'].astype(np.integer) 
dataframe['day_of_week'] = dataframe['day_of_week'].astype(np.integer) 
dataframe['phone_lock'] = dataframe['phone_lock'].astype(np.integer) 
dataframe['location'] = dataframe['location'].astype(np.integer) 
# Exibe info
print(dataframe.info())# convert values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578534 entries, 0 to 578533
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   activity            578534 non-null  int64
 1   location            578534 non-null  int64
 2   timestamp           578534 non-null  float64
 3   day_of_week         578534 non-null  int64
 4   light               578534 non-null  float64
 5   phone_lock          578534 non-null  int64
 6   proximity           578534 non-null  float64
 7   sound               578534 non-null  float64
 8   time_to_next_alarm  578534 non-null  float64
 9   minutes_day         578534 non-null  float64
 10  timestamp_text      578534 non-null  object
 11  class               578534 non-null  int64
dtypes: float64(6), int64(5), object(1)
memory usage: 53.0+ MB
None

In [14]:
 #'pearson', "   "'spearman', 'kendall'
a = dataframe['class'].corr(dataframe['activity'])
b = dataframe['class'].corr(dataframe['location'])
#c = dataframe['class'].corr(dataframe['distanceHome'])
#d = dataframe['class'].corr(dataframe['showActuation'])
e = dataframe['class'].corr(dataframe['timestamp'])
f = dataframe['class'].corr(dataframe['day_of_week'])
g = dataframe['class'].corr(dataframe['light'])
h = dataframe['class'].corr(dataframe['phone_lock'])
i = dataframe['class'].corr(dataframe['proximity'])
j = dataframe['class'].corr(dataframe['sound'])
l = dataframe['class'].corr(dataframe['time_to_next_alarm'])
#m = dataframe['class'].corr(dataframe['sleep_time'])
#n = dataframe['class'].corr(dataframe['wakeup_time'])
p = dataframe['class'].corr(dataframe['minutes_day'])
o = dataframe['class'].corr(dataframe['class'])
print("Correlations")
corrrrrrr = (("activity",a),
            ("location",b),
           # ("distanceHome",c),
           # ("showActuation",d),
            ("timestamp",e),
            ("day_of_week",f),
            ("light",g),
            ("phone_lock",h),
            ("proximity",i),
            ("sound",j),
#            ("sleep_time",m),
#            ("wakeup_time",n),
            ("time_to_next_alarm",l),
            ("minutes_day",p),
            ("class",o))
print (corrrrrrr)

Correlations
(('activity', -0.042164667218154546), ('location', 0.14603424662835293), ('timestamp', -0.2016826235306708), ('day_of_week', 0.025014566713857156), ('light', 0.00468773672743533), ('phone_lock', 0.11172583711341916), ('proximity', -0.046184434917333324), ('sound', 0.11605577689916766), ('time_to_next_alarm', -0.17102206585399277), ('minutes_day', -0.13797022646392698), ('class', 1.0))

In [15]:
tests = pd.DataFrame(corrrrrrr,columns=("Feature","Correlation"))
tests.sort_values(by=['Correlation'])

               Feature  Correlation
2            timestamp    -0.201683
8   time_to_next_alarm    -0.171022
9          minutes_day    -0.137970
6            proximity    -0.046184
0             activity    -0.042165
4                light     0.004688
3          day_of_week     0.025015
5           phone_lock     0.111726
7                sound     0.116056
1             location     0.146034
10               class     1.000000